@use "../Settings/colors";
@use "../Settings/fonts";

html {
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

body {
  background: none;
  color: colors.$text;
  margin: 0;
  font-family: fonts.$primary;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  width: 100vw;

  &.dev-background {
    background-image: conic-gradient(
      white 0% 25%,
      colors.$light-gray 25% 50%,
      white 50% 75%,
      colors.$light-gray 75% 100%
    );
    background-size: 1em 1em;
  }
}

#app {
  height: 100%;
  width: 100%;
}
